.footer-container2 {
  background-color: #FFDFD3;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  flex-flow: row;
  align-self: center;
  height:45rem;
}

.left-contact2{
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: left;
}

.left-h1{
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.left-h2 {
  color: #000000;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.footer-subscription2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #000000;
}

.footer-subscription-heading {
  margin-bottom:-10px;
  font-size: 24px;
}

.whole-left {
  padding: 4rem;
  margin: auto;
}

.input-areas {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  width: auto;
  height: 70%;
  padding-top: 6rem;
}

.footer-input {
  padding: 8px 12px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid #000000;
}

.footer-message{
  height: 20px;
}

.contact-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
  margin-right: 4rem;
}

.form-name{
  display: flex;
  gap: 1.2rem;
}

.contact-form input[type="text"] {
  width: 50%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  background: white;
  color: black;
}

.footer-logo {
  width:30%;
}

.footer-email-form h2 {
  margin-bottom: 2rem;
}

.footer-input::placeholder {
  color: #b1b1b1;
}

.social-icon-link {
  color: #000000;
  font-size: 40px;
}

.social-icon-link:hover {
  color: #e9e9e9;
  transform: rotateY(360deg);
  transition: 1s;
}

.facebook:hover {
  color: #3b5998;
}

.instagram:hover {
  color: #e1306c;
}

.linkedin:hover {
  color: #0077b5;
}

.tiktok:hover {
  color: #00f2ea;
}

.social-media {
  max-width: 1000px;
  width: 100%;
}

.social-media-wrap {
  display: flex;
  justify-content: space-between;
  align-items: left;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
  justify-content: center;
}

.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.left-contact2 > .footer-container2 {
  flex: 1 0 10rem;
}

.fa{
  color:#000000;
}

@media screen and (min-width: 1200px) {
  .input-areas {
    width: 65%;
    margin: auto;
    padding-bottom: 6rem;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 820px) {
  .footer-container2 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    height: auto;
  }
  .left-contact2{
    flex-direction: column;
    align-items: center;
  }
  .whole-left {
    align-items: center;
  }

  .left-h1 {
    text-align: center;
  }
  
  .left-h2 {
    padding-left: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .footer-subscription2 {
    flex-direction: column;
    margin-bottom: 24px;
    color: #000000;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .input-areas {
    margin-bottom: 0;
    margin-left: 0;
    width: auto;
    padding-top: 4rem;
  }

  .btn {
    width: 100%;
  }

  .social-media-wrap {
    flex-direction: column;
    align-items: center;
  }
}