video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}

.hero-container > h1 {
  color: #fff;
  text-align: center;
  font-size: 70px;
  margin-top: 40px;
}

.hero-btns {
  margin-top: 32px;
  color:#ff444e;
  transition: all .2s ease-in-out;
}

.hero-btns:hover { 
  transform: scale(1.1);
}

.hero-btns .btn {
  background-color: #ff444e;
  outline: none;
  color:#fff;
  margin: 6px;
  border-radius: 8px;
  font-size: 28px;
}

span.sgflag{
  vertical-align: middle;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -10px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    margin-top: 40px;
  }

  .btn-mobile {
    display: block;
  }

  .btn {
    width: 100%;
  }
}
