.partner-container {
    background-color: #fff;
    height: 45rem;
    box-shadow: none;
}

.partner-h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 3rem;
}

.sgn-partner {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: -3rem;
}

.companies {
    justify-content: center;
    align-items: center;
}

.sgn {
    height: 9rem;
    padding: 3rem;
}

.sgn2 {
    height: 12rem;
    padding: 3rem;
}

.sgn3 {
    height: 12rem;
    padding-left: 3rem;
    padding-bottom: 2rem;
}

.bc {
    height: 9rem;
}

.mc {
    height: 11rem;
    padding: 3rem;
}

@media screen and (max-width: 416px) {
    .partner-container {
        height: auto;
    }

    .partner-h1 {
        padding-top: 1rem;
    }

    .companies {
        padding-top: 2rem;
    }

}