.team-section{
  padding: 2rem;
  background-color: #CB4C4C;
  height: auto;
  display: column;
}

.team-h1{
  text-align: center;
  padding-bottom: 0.7em;
  color: #fff;
}

.team-item-info{
  padding: 20px 30px 30px;
  background-color: #fff;
  height: 8rem;
}

.team__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 85%;
  overflow: hidden;
}

.team__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  .cards-container{
    flex-direction: column;
  }
}

.yr_btn_style{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.yr_btn_style button {
  background-color: #FFDFD3;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 63px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.yr_btn_style button:hover {
  background-color: #fffaf8;
}

.yr_btn_style button.selected {
  background-color: #fffaf8;
}