.team{
  background-color:#CCCBFF;
  box-shadow: inset 0 0 3rem rgba(0,0,0,0.5);
}

.team-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  height: 68vh;
}

.team-member {

  padding: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.team-member:hover{
  background: transparent;
  border-color:#CCCBFB;
}
/*   
  .team-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: #fff;
  }

  .team-heading {
    color: #fff;
    text-align: center;
    padding-bottom: 0.7em;
  }
  
  @media screen and (max-width: 820px) {
    .team-heading {
      font-size: 1.5rem;
    }

  }
  
  @media screen and (max-width: 768px) {
  }
   */